body {
  background-color: yellow;

}

#tomContainer {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: forestgreen;
}

#animate {
  width: 50px;
  height: 50px;
  position: 50px;
  background-color: steelblue;
  font-size: 8em;
  color: fuchsia;
}
.timer {
  color: crimson;
}
